# Reading and Writing Data in Text Format 

There are lots of functions in pandas for reading data in  a 
text format. These functions also have lots of arguments, as
particular tasks require particular reading setups.

Let's start with a small csv:

In [2]:
!cat ../pydata-book/examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

As it is a csv, we can use `pandas.read_csv`:

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("../pydata-book/examples/ex1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo